.swiper-button-next
{
    font-weight: bolder;
    color: #b7b7b7;
    position: absolute;
    top: 1.5rem;
    right: 0;

}

.swiper-button-next::after
{
    font-size: 2rem;
}

.swiper-button-prev
{
    font-weight: bolder;
    color: #b7b7b7;
    position: absolute;
    top: 1.5rem;
    left: 19rem;
}

.swiper-button-prev::after
{
    font-size: 2rem;
}